{% extends 'contacts/layout.html' %}
{% block title %}Add contact{% endblock %}

{% block header %}
<h1>Add contact {{user.username|default:'Guest'}}</h1>
{% endblock %}

{% block content %}
<div class="features">
    <p>
        <a class='btn btn-warning' type="submit" href="/contacts/" target='_self'>Main page </a>
    <form action="" method="POST">
        <p>
        {% csrf_token %}
        {{ form.as_p }}
        {{form1.as_p}}

        <input type='submit' value='Submit'>
        </p>
    </form>

    </p>
</div>
{% endblock %}